spring:
  application:
    name: ${SPRING_APPLICATION_NAME}

  datasource:
    url: ${DATASOURCE_URL}
    username: ${USERNAME}
    password: ${PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO}

project:
  image: {PROJECT_IMAGE}


aws:
  access:
    key: ${AWS_ACCESS_KEY}
  secret:
    key: ${AWS_SECRET_KEY}
  region: ${AWS_REGION}
  s3:
    bucketname: ${AWS_BUCKET_NAME}
